<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Location - Add</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div th:if="${location == null}">
                        This is a root location.
                    </div>
                    <div th:if="${location != null}">
                        Adding a location to: <span th:text="${location.name}"></span>
                    </div>
                    <form th:action="@{/locations/create}" method="POST" th:object="${newLocation}">
                        <input id="location" type="hidden" th:field="*{parentId}" />

                        <label for="name">Name</label>
                        <input id="name" th:field="*{name}" />

                        <input value="Add Location" type="submit" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>