<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Do you know where you left it?</h1>
                    <p>Do you need help remembering where you put something? Sign up or log in to get started.</p>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>